<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="nav"></div>
    </header>
    <div class="content">

        <div class="right-bar"></div>
        <main>
            <div class="red-blocks">
                <div class="blocks"></div>
                <div class="blocks"></div>

            </div>
            <div class="footer"></div>
        </main>
    </div>
</body>

</html>